.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .imageContainer {
    position: fixed; /* Fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .container .image {
    position: absolute; /* Absolute positioning within the fixed container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.4); /* Add shadow effect */
    z-index: 1; /* Ensure both images share the same z-index */
  }
  
.aboutSection {
    height: 90vh;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative; /* Make the container relative */
  }

  .title {
    font-size: 6rem;
    font-family: 'Nasalization', sans-serif;
    margin-bottom: 0.5rem;
    background: linear-gradient(270deg, #4fc3dc80, #fff);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
    position: absolute; /* Make the title absolute */
    z-index: 1; /* Ensure the title is above the SVG */
    text-transform: uppercase;
    font-weight: 900;
  }

  .detailsSection {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin-top: 20vh;
    margin-bottom: 15vh;
    
  }
  
  .heading {
    font-size: 4rem;
    font-family: 'Nasalization', sans-serif;
    text-align: center;
    margin-bottom: 0.5rem;
    background: linear-gradient(180deg, #4fc3dc80, #0751e8);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}
.gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default 3 columns for large screens */
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .gridWrapper {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .gridWrapper {
      grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
  }


.text {
    font-size: 1.5rem;
    padding: 20px;
    font-family: 'Nasalization', sans-serif;
    color: #fff;
}


  @media (max-width: 768px) {
    .detailsSection,
    .anotherSection {
        height: auto;
        padding: 30px 20px;
    }

    .aboutSection {
        display: none;
      }

    .detailsSection .contentWrapper {
        flex-direction: column;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    .heading {
        font-size: 2rem;
        text-align: center;
    }

    .text {
        font-size: 1.2rem;
        padding: 20px;
    }

    .detailsSection .imageWrapper {
        margin-bottom: 20px;
    }

    .detailsSection .imageWrapper img {
        width: 100%;
        max-width: 300px;
    }

    .detailsSection .imageWrapper img:nth-child(2) {
        transform: translateY(-20px) translateX(20px); /* Adjust the overlap for smaller screens */
    }
}


.svgBox {
    position: fixed; /* Ensures the SVG stays in place when scrolling */
    top: 60%; /* Moves the SVG halfway down the viewport */
    left: 50%; /* Moves the SVG halfway across the viewport */
    transform: translate(-50%, -50%); /* Centers the SVG by adjusting its position back by 50% */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Places the SVG behind all other content */
    overflow: hidden; /* Prevents overflow issues */
  }
  
  .svgBox svg {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #fff;
    stroke-width: 15;
    transform: scale(1);
    stroke: url(#blueGradient); /* Ensure the correct gradient id */
    stroke-dasharray: 800 800;
    stroke-linecap: round;
    opacity: 0.2;
    animation: oj 16s cubic-bezier(0.075, 0.82, 0.165, 1) infinite, glow-blue 16s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    overflow-x: hidden;
  }

  .svgBox2 svg {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #fff;
    stroke-width: 40;
    transform: scale(1);
    stroke: url(#whiteGradient); /* Ensure the correct gradient id */
    stroke-dasharray: 100 172;
    stroke-linecap: round;
    opacity: 0.2;
    animation: oj 180s linear infinite;
  }
  
  @keyframes glow-blue {
    0%, 100% {
      filter: drop-shadow(0 0 10px #0751E8); /* Blue */
    }
    50% {
      filter: drop-shadow(0 0 15px #57CCEC); /* Light Blue */
    }
  }
  
  @keyframes oj {
    0% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 1600; /* Reaches the end */
    }
    100% {
      stroke-dashoffset: 0; /* Reverses back to start */
    }
  }

  @keyframes oj2 {
    0% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 272; /* Reaches the end */
    }
    100% {
      stroke-dashoffset: 0; /* Reverses back to start */
    }
  }

  .yearSelector {
    position: fixed; /* Keeps the button fixed on screen even when scrolling */
    bottom: 1vw; /* You can change this value to move it vertically */
    right: 20px; /* You can change this value to move it horizontally */
    display: flex;
    flex-direction: column; /* Stacks the buttons vertically */
    gap: 10px;
    z-index: 1000; /* Ensures it's on top of other content */
    font-family: 'Nasalization', sans-serif;
  }
  
  .yearSelector p {
    opacity: 1;
  }
  
  .yearSelector button {
    padding: 10px 20px;
    background-color: #0751E8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .yearSelector button:hover {
    background-color: #57CCEC;
  }
  
  .yearSelector button.active {
    background-color: #57CCEC;
  }
  